.orders{
    padding: 1rem;
    background-color: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.invoice-logo{
    width: 120px;
    height: 120px;
}

.orders button{
    border: 0;
    /* background-color: transparent; */
}

.orders th{
  text-align: center;
}

.orders td{
  text-align: center;
}

@media (max-width:991px) {
    .invoice-logo{
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 680px) {
  .orders{
    width: calc(100vw - 2rem);
    overflow-x: auto;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
}

.search label{
  font-weight: 700;
}