.refund-note p{
  font-size: 12px !important;
  margin: 0;
}

.no-screen {
  display: none;
}

.d-print-table-row {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }
  .no-screen {
    display: table-row !important;
  }
  .no-screen td{
    display: table-cell !important;
  }
  .no-screen td strong{
    display: block !important;
  }
}
