.stores {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stores .head {
  font-size: 1.2rem;
  font-weight: 700;
}

.stores form {
  padding: 0 1rem;
}

.stores label {
  font-weight: 700;
}

.form-label {
  font-size: 12px !important;
}

.select__control {
  min-height: 29px !important;
  height: 29px !important;
}

.select__value-container {
  padding: 0 8px !important;
  height: 29px !important;
}

.select__indicators {
  height: 29px !important;
}
