.assignment {
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.assignment th {
  text-align: center;
}

.assignment td {
  text-align: center;
}

@media (max-width: 680px) {
  .assignment {
    width: calc(100vw - 2rem);
    overflow-x: auto;
  }

  .assignment th {
    white-space: nowrap;
  }

  .assignment td {
    white-space: nowrap;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
}

.assignment .del-btn {
  border: none;
  background-color: transparent;
}

.assignment small {
  font-size: 12px !important;
  > span {
    font-size: 12px !important;
  }
}
