.requestsRecieved{
    padding: 1rem;
    background-color: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 680px) {
  .requestsRecieved{
    width: calc(100vw - 2rem);
    overflow-x: auto;
  }
}

.requestsRecieved small{
  font-size: 12px !important;
  >span{
    font-size: 12px !important;

  }
}