.barcode-print-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.barcode-item {
  width: 180px;
  margin: 0.5rem;
  page-break-inside: avoid;
  text-align: center;
  border: 1px solid #ccc;
}

.barcode-pair {
  display: flex;
}

.barcode{
    padding: 1rem;
    background-color: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.barcode-item strong{
    font-size: 12px !important;
    font-weight: 900;
}

.barcode-item b{
    font-size: 12px !important;
}

.barcode-item .barcode-name{
    font-weight: 900;
}

@media print {
  .barcode-print-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .barcode-item {
    width: calc(50% - 1rem);
    margin: 0.5rem;
    box-sizing: border-box;
    page-break-inside: avoid;
    border: 0px;
  }
}
